*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Didact Gothic', sans-serif;
}

.main {
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: 30px;
    /* color: #787878; */
    color: #00599A;
}

.neon-text:hover {
    animation: flicker 1.9s infinite alternate;
    color: #fff;
  }

  @keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #7878,
        0 0 80px steelblue,
        0 0 90px #7878,
        0 0 100px steelblue,
        0 0 150px #7878;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }


.intro-text {
    text-transform: lowercase;
    letter-spacing: 10px;
    margin-left: 5px;
    font-family: 'Maven Pro', sans-serif;
    color: #58595B;
}

.intro-text--two {
  letter-spacing: 10px;
    margin-left: 429px;
    text-transform: lowercase;
    font-family: 'Maven Pro', sans-serif;
    color: #58595B;
}

.btn-list {
    list-style: none;
    display: flex;
    margin-top: 30px;
    align-content: center;
}

.btn {
    border: 3px solid lightgray;
    border-radius: 8px;
    background: #fff;
    text-decoration: none;
    letter-spacing: 5px;
    color: #222C2A;
    margin: 40px;
    font-size: .8rem;
    padding: 5px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background: #787878;
    color: #fff;
    opacity: .7;
    border-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    list-style: none;
    display: flex;
}

.icon-link {
    color:rgba(0, 0, 0)
}

.footer-text {
    font-size: 1rem;
    margin-bottom: 30px;
}


/* additional styling */

* *:focus,
  *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 25px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }


.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: lightgray;
  color: #ffffff;
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background: lightskyblue;
  color: #ffffff;
}





 /* nav starts



 .nav-ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 20px;
}

.nav-link {
    text-decoration: none;
}

/*  end nav */

/* media queries */

@media (max-width: 850px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 50px;
    /* color: crimson; */
    /* text-align: center; */
  }

  .btn-list {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name {
    color: lightblue;
    font-size: 20d;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }


}
