* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.primaryNavUl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.primaryNav .primaryNavUl .primaryNavList{
    margin-top: 50px;
    margin-right: 50px;
  }

  .navLinks {
    color: rgb(102, 102, 102);
  }

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
}

.heading .mainTitle {
    color: #00599A;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
    position: relative;
}

.heading .mainTitle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #00B6F1;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.aboutImage {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.aboutImage img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.aboutImage:hover img {
    transform: scale(1.2);
}

.aboutContent {
    flex: 2.7;
}

.aboutContent p {
    font-size: 18px;
    line-height: 3;
    color: rgb(102, 102, 102);
}

.aboutContent .contactMe {
    display: inline-block;
    padding: 10px 20px;
    background: #00B6F1;
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3 ease;
}

.aboutContent .contactMe:hover {
    background: #00599A;
}

/* footer */

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .wrapper {
    list-style: none;
    display: flex;
  }
  
  .icon-link {
    color: #555;
  }
  
  .footer-text {
    font-size: 1rem;
    margin-bottom: 30px;
    color: rgb(102, 102, 102);
  }
  
  
  * *:focus,
  *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }
  
  .wrapper .footerIcon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 25px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .footerIcon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
  background: lightgray;
  color: #ffffff;
  }
  
  .wrapper .email:hover,
  .wrapper .email:hover .tooltip,
  .wrapper .email:hover .tooltip::before {
  background: lightskyblue;
  color: #ffffff;
  }


@media screen and (max-width: 768px) {
    .heading {
        padding: 0 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .aboutImage {
        margin-top: -50px;
        margin-right: 0;
        margin-bottom: 20px ;
    }
    .aboutContent p {
        padding: 0;
        font-size: 16px;
    }
    .aboutContent .contactMe {
        font-size: 16px;
    }

}